@page "/"

<EditForm Model="@ConfigVm">
    <div class="wrapper">
            <label for="BusinessArea">Business Area: </label>
            <InputText id="BusinessArea" class="form-control" @bind-Value="@ConfigVm.BusinessArea" placeholder=""></InputText>
            <ValidationMessage For="@(() => ConfigVm.BusinessArea)" />
        </div>

    <div class="wrapper">
        <label for="RouteInboundSmsToEmail">Route Inbound Sms to Email: </label>
        <InputCheckbox id="RouteInboundSmsToEmail" class="form-control" @bind-Value="@ConfigVm.RouteInboundSmsToEmail" placeholder=""></InputCheckbox>
    </div>
</EditForm>

<p>BizArea =  @ConfigVm.BusinessArea</p>
<p>CheckboxValue =  @ConfigVm.RouteInboundSmsToEmail</p>

@code
{
    public ConfigViewModel ConfigVm { get; set; } = new ConfigViewModel();
}
